body{
    background: red;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 80%;
    min-height: 1000px;
    background: #fff;
    margin: auto;
}
.header{
    width: 100%;
    height: 150px;
    margin-bottom: 2px;
}
.header .logo{
    width: 20%;
    height: 100%;
    background: #333;
    float: left;
}
.header .side_banner{
    width: 79.8%;
    height: 100%;
    background: #333;
    float: left;
    margin-left: .2%;
}
.navigation{
    width: 100%;
    height: 50px;
    background: #333;
}
.body_top{
    width: 100%;
    height: 300px;
    background: #333;
    margin-top: 2px;
}
.content{
    width: 100%;
    height: 600px;
    margin-top: 2px;
}
.content .sidebar{
    width: 20%;
    height: 100%;
    background: #333;
    margin-right: .2%;
    float: left;
}
.content .main_content{
    width: 79.8%;
    height: 100%;
    background: #333;
    float: left;
}
.footer{
    width: 100%;
    height: 100px;
    background: #333;
    margin-top: 2px;
}